@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* @theme {
  --font-display: "Urbanist, san-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #091057;
} */

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', sans-serif ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
  }
  .dark {
    color-scheme: dark;
  }

  /* scrollbar styling */
  /* For Chrome, Safari, and Opera */
  ::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px !important;
  }

  ::-webkit-scrollbar-track {
    background-color: #1d1d1f;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #4245fe;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #5052f0;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
